<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Docchat" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_javascript_tag "application" %>

    <script>
      // Prevent Firefox FOUC (flash of unstyled content)
      // See https://stackoverflow.com/a/64158043
      let FF_FOUC_FIX;
    </script>

  </head>

  <body data-turbo-prefetch="false" data-theme="sapphire">
    <%= render "layouts/header" %>
    <div class="main-split">
      <div class="bg-(--primary-bg)">
        <%= render "layouts/sidebar/sidebar" %>
      </div>
      <main>
        <%= render "layouts/flash" %>
        <%= yield %>
      </main>
    </div>

  </body>
</html>
